body {
    background-color: #eee;
}

.form-signin .form-control {
    height: auto;
    margin-bottom: 10px;
    font-size: 16px;
}

.form-signin {
    width: 30%;
}

.grid-custom-user {
    background-color: #ffffdd;
    margin-left: 1%;
}

.grid-custom-user-buttons {
    margin-left: 5px;
}

.grid-custom-user-pag {
    margin-left: 40%;
}
